@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;800;900&display=swap');


body {
    font-family: "Roboto", sans-serif;
    line-height: 1.8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 900 important;
}

a {
    text-decoration: none;
    transition: all 0.4s ease;
    font-weight: 800;
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
    z-index: 2;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(137, 241, 255, 0.7), rgba(65, 65, 97, 0.7));
    z-index: -1;
}

.bg-cover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hero-section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}

.btn {
    padding: 14px 22px;
    transition: all 0.4s ease;
}

.btn-main {
    background: linear-gradient(to right, #00e0fe, #1107fe);
    border-radius: 100px;
    border: none;
    font-weight: 600;
    color: #fff;
}

.btn:hover {
    color: #fff;
    transform: translateY(-10px);
}

.navbar {
    box-shadow: 0 12px 20px rgba(63, 20, 20, 0.1);
}


.section-intro {
    margin-bottom: 40px;

}

.section-intro .divider {
    height: 4px;
    width: 70px;
    background: linear-gradient(to right, #00e0fe, #1107fe);
    margin: 16px auto;
}

.about .about-img {
    position: relative;
}

img {
    height: 50%;
    width: 70%;
}

#gallery {
    height: 80px;
}

.gallery__head {
    display: flex;
    justify-content: space-between;
}

.gallery__container p {
    width: 45rem;
}

.swiper-wrapper {
    margin-top: 5rem;
    height: 37rem;
    padding-bottom: 5rem;
    animation: scroll 25s linear infinite;
}

.swiper-slide {
    border: 0.5rem solid var(--color-bg-4);
    height: fit-content;
    max-height: 36rem;
    overflow: hidden;
    transition: var(--transition);

}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 8));
    }

}

.btn {
    padding: 14px 22px;
    transition: all 0.4s ease;
}

.btn-gal {
    background: linear-gradient(to right, #00e0fe, #2007fe);
    border-radius: 100px;
    border: none;
    font-weight: 600;
    color: #fff;
}

.schemes {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.slider {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: rotate 30s linear infinite;
}

@keyframes rotate {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }

    100% {
        transform: perspective(1000px) rotateY(360deg);
    }

}

.slider span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*60deg)) translateZ(300px);
    -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004);
}

.slider span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    object-fit: cover;
    transition: 5s;
}

.slider span:hover img {
    transform: translateY(-50px) scale(1.2);
}



